-i https://pypi.org/simple
bokeh==2.2.3
jinja2==2.11.2
markupsafe==1.1.1
numpy==1.19.5
packaging==20.8
pillow==8.1.0
pyparsing==2.4.7
python-dateutil==2.8.1
pyyaml==5.3.1
six==1.15.0
tornado==6.1
typing-extensions==3.7.4.3
